<link href="{{ SITEURL }}/theme/css/github-markdown.css" rel="stylesheet"/>
{% if BAIDUSITECONTENT %}
<meta name="baidu-site-verification" content="{{ BAIDUSITECONTENT }}"/>
{% endif %}
<meta name="description" content="{{ SITEDESCRIPTION }}"/>
<meta name="author" content="{{ AUTHOR }}" />
<style>
    ::-webkit-scrollbar{
        display:none;
    }
    html, body {
        height: 99%;
    }
    .menu {
        width: 20%;
        height: 100%;
        float: left;
        text-align: center;
        overflow: scroll;
    }
    .catalog {
        width: 25%;
        height: 100%;
        float: left;
        overflow: scroll;
    }
    .content {
        width: 55%;
        float: left;
        height: 100%;
        overflow: scroll;
    }
    .title {
        height: 220px;
        width: 220px;
        border-radius: 110px;
        text-align: center;
        display: inline-block;
    }
    .menu-link {
        width: 20px;
        height: 20px;
    }
    .links, .copyright {
        height: 50px;
        position: relative;
        bottom: -50px;
    }
    .links a {
        margin: 10px;
    }
    .link-tags {
        background: aliceblue !important;
        margin: 3px;
        font-size: 14px;
    }
    .links-menu {
    }
</style>

