{% extends 'base.html' %}

{% block title %} {{ SITENAME }} | {{ article.title }} {% endblock %}

{% block content %}
  <style>
    @media(max-width: 550px) {
      body {
        height: auto;
      }
      .menu .links, .menu .copyright {
        display:none;
      }
      .menu {
        height: 65%;
      }
      .catalog {
        display:none;
      }
      .content {
        display: block;
      }
      h3 {
        text-align: center;
      }
    }
  </style>
  <h3> {{ article.title }} </h3>
  {% for tag in article.tags %}
    <a href="{{ SITEURL }}/{{ tag.url }}" class="link-tags">{{ tag.name }}</a>
  {% endfor %}
  <hr style="clear:both"/>
  {{ article.content }}

  {% if DISQUS_ENABLED %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = '{{ DISQUS_SITE_NAME }}';
      var disqus_identifier = window.location.href;
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//{{ DISQUS_SITE_NAME }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      }());
  </script>
  {% endif %}
{% endblock %}
